
<filter-textbox (changed)="filter($event)"></filter-textbox>
<br />
<br />
<table class="friends-table">
    <thead>
        <tr>
            <th (click)='sort("name")'>name</th>
            <th (click)='sort("city")'>city</th>
            <th (click)='sort("loveTotal")'>love total</th>
        </tr>
    </thead>
    <tr *ngFor='let friend of filteredFriends'>
        <td>
            <a [routerLink]="['/love', friend.id]">
                {{ friend.name | lowercase }}
            </a>
        </td>
        <td>
            {{ friend.city }}
        </td>
        <td>
            {{ friend.loveTotal }}
        </td>
    </tr>
    <tr *ngIf='filteredFriends && filteredFriends.length'>
        <td colspan="2">&nbsp;</td>
        <td>
            {{ friendsLoveTotal }}
        </td>
    </tr>
    <tr *ngIf='!filteredFriends || !filteredFriends.length'>
        <td colspan="4">no friends found</td>
    </tr>
</table>
number of friends: {{ filteredFriends.length }}
<br />