/* You can add global styles to this file, and also import other style files */

html {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: monospace;
    background-color: darkolivegreen;
    color: white;
}

thead {
    font-weight: normal;
    background-color: magenta;
    color: white;
}

th {
    width: 200px;
    font-weight: normal;
}

td {
    height: 30px;
    width: 150px;
}

a {
    text-decoration: none;
    color: burlywood;
}